<div class="container">
<h1>Add New Timesheets</h1>

<%= form_tag({:controller => "timesheets", :action => "create"}, {:method => "post"}) do %>
<div class = "form-group">
<div id = "users">
<p>You are filling in
<input type="hidden" name="timesheet[employee_id]" value="<%= @user.id %>"><%= @user.name %>
's timesheet</p>
</div>
</div>

<div class = "form-group">
<p> SELECT PROJECT </p>
<p>
<%= collection_select(:timesheet,:project_id,@projects,:id,:project_name ,{},{:class =>'relation browser-default form-control'})%>
</p>
</div>

<div class = "form-group">
<p> SELECT DATE WORKED </p>
<p>
            <select name="timesheet[date_worked]">
                <option value="<%=Date.today.to_date%>" selected="selected"><%= Date.today.to_date %></option>
                <option value="<%= 1.day.ago.to_date %>"><%= 1.day.ago.to_date %></option>
                <option value="<%= 2.day.ago.to_date %>"><%= 2.day.ago.to_date %></option>
                <option value="<%= 3.day.ago.to_date %>"><%= 3.day.ago.to_date %></option>
                <option value="<%= 4.day.ago.to_date %>"><%= 4.day.ago.to_date %></option>
            </select>
</p>
</div>


<div class = "form-group">
<p> SELECT TIME </p>
<p>
           <%= select("timesheet", "timespend", (0..12).step(0.25).collect {|p| [ "#{p}", p ] }, { :include_blank => true }) %>
</p>
</div>

<div class = "form-group">
<p> Description </p>
<p>
           <%= text_field(:timesheet, :description, class: "create_input") %>
</p>
</div>

<div class = "form-group">
<div style="text-align:left">
 <%= submit_tag("SAVE", :id=>"button", :class=>"submit", :name => "submit", class: "btn btn-primary") %>
 </div>
</div>


</tr>
<% end %>
</div>

<div style="text-align:center">
 <%= link_to "EDIT EXISTING TIMESHEETS", timesheets_edit_path(id:  @user.id ), class: "btn btn-primary"%>
</div>


