
<h1>Add new timesheets</h1>
<%= form_tag timesheets_create_path do %>

<p>Please select a project</p>
<div id = "projects">
            <td width="100">
              <%= collection_select(:timesheet,:project_id,@projects,:id,:project_name ,{},{:class =>'relation browser-default'})%>
            </td>
</div>

<p>Please select a date</p>
<div id = "dates">
            <td width="100">
              <%= select_tag "dates", options_for_select(@dates) %>
            </td>
</div>

<p>Please select the time worked</p>
<div id = "time">
           <td width="100">
            <%= time_select("timesheet", "timespend", prompt: {hour: 'Choose hour', minute: 'Choose minute', second: 'Choose seconds'}) %>
           <td>
</div>

 <%= submit_tag("Save", :id=>"button", :class=>"submit", :name=>"submit") %><% end %>

